// Blues
$blue_gray: #8593ae;
$blue_raspberry: #008DCB;
$midnight: #16253d;
$dusk: #002c54;
$dark_teal: #2b616d;
$arctic: #b2dbd5;
$cyan: #00cffa;

// Greens
$teal: #00D1B2;
$peacock: #004d47;
$robins_egg: #a4cabc;
$deep_aqua: #128277;
$lichen: #52958b;
$leaves: #506d2f;
$olive: #acbd78;
$salt_water: #257985;
$lagoon: #5ea8a7;

// Reds
$raspberry: #ff4447;
$tuscan: #b2473e;


//Pinks
$fuschia: #e1315b;
$magenta: #ff00ff;


// Yellows
$yellow: #ffce38;
$lemon_drop: #ffec5c;
$nectar: #eab364;
$gold: #efb509;


//Oranges
$orange: #f47d4a;
$bronze: #cd7213;
$brick: #fa8d62;


// Whites
$white: #fff;
$marble: #f3ebdd;

//Greys
$mist: #b9c4c9;
$steel: #5a4e4d;


//Blacks
$black: #000;
$bark: #2a2922;


//Browns
$brownstone: #7d5642;
$pewter: #7e675e;
$blush: #dda288;