@import './fonts/fonts';
@import './mixins/mixins';
@import './colors/colors';

body {
    font-family: 'Varela Round', sans-serif;
}

.search-blk-lg {
    padding: 100px 150px;
    background-color: $teal;
    border-radius: 5px;
    margin-bottom: 25px;

    input {
        height: 75px;
        font-size: 36px;
        font-family: 'Varela Round', sans-serif;
        border: none;
        color: $steel;
    }

}

.job-item {
    background-color: $salt_water;
    color: #fff;
    min-height: 100px;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $lagoon;
        cursor: pointer;
    }

    span.delete {
        margin-left: 10px;
    }
}